<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="blog-footer bg-inverse" th:fragment="footer">
    <div class="container">
        <p class="m-0 text-center text-white">? 2018 <a href="www.baidu.com">baidu</a></p>
    </div>

    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
</footer>
</body>
</html>